page-perfil-criar {
    .toolbar-background, .footer, .button {
        background: linear-gradient(to right, #0071ad, #199fb8);
    }
    .toolbar-title {
        color: white;
    }
    .toolbar-title-md {
        text-align: center;
        font-size: 1.7rem;
    }
    .title {
        text-transform: uppercase;
    }
    .title-md {
        left: 0;
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .bar-button-default {
        color: black;
    }
    .back-button {
        z-index: 1;
    }
    .list-ios {
        .item-block:first-child {
            border-top: 0;
        }
    }
    .button {
        margin-top: 6vh;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.28), 0 6px 2px -4px rgba(0, 0, 0, 0.4), 0 2px 10px 0 rgba(0, 0, 0, 0.24);
    }
    .button-ios {
        text-transform: uppercase;
        font-size: 1.4rem;
    }
    .footer-md {
        min-height: 56px;
    }
    .footer-ios {
        min-height: calc(20px + 44px);
    }
}