<ion-header>
    <ion-navbar>
        <ion-title>
            Menu
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngIf="nivel() != 6" id="niveis">
        <h3>Histórico por nível:</h3>
        <button class="nivel" (tap)="historico(1)" ion-button round [disabled]="nivel() < 1">1</button>
        <button class="nivel" (tap)="historico(2)" ion-button round [disabled]="nivel() < 2">2</button>
        <button class="nivel" (tap)="historico(3)" ion-button round [disabled]="nivel() < 3">3</button>
        <button class="nivel" (tap)="historico(4)" ion-button round [disabled]="nivel() < 4">4</button>
        <button class="nivel" (tap)="historico(5)" ion-button round [disabled]="nivel() < 5">5</button>
    </div>
    <div id="consultorio">
        <h3 *ngIf="nivel() != 6">Consultório:</h3>
        <h3 *ngIf="nivel() == 6">Seu consultório está completo!</h3>
        <ion-img *ngIf="nivel() == 0" src="assets/imgs/consultorio0.png" alt="Imagem do consultório nivel 0"></ion-img>
        <ion-img *ngIf="nivel() == 1" src="assets/imgs/consultorio1.png" alt="Imagem do consultório nível 1"></ion-img>
        <ion-img *ngIf="nivel() == 2" src="assets/imgs/consultorio2.png" alt="Imagem do consultório nível 2"></ion-img>
        <ion-img *ngIf="nivel() == 3" src="assets/imgs/consultorio3.png" alt="Imagem do consultório nível 3"></ion-img>
        <ion-img *ngIf="nivel() == 4" src="assets/imgs/consultorio4.png" alt="Imagem do consultório nível 4"></ion-img>
        <ion-img *ngIf="nivel() == 5" src="assets/imgs/consultorio5.png" alt="Imagem do consultório nível 5"></ion-img>
        <ion-img *ngIf="nivel() == 6" src="assets/imgs/consultorio6.png" alt="Imagem do consultório nível 6"></ion-img>
    </div>
    <div id="iniciar">
        <button *ngIf="nivel() == 0" ion-button round block class="large-button" (tap)="iniciar()">Nivelamento</button>
        <button *ngIf="nivel() != 0" ion-button block class="large-button" [disabled]="nivel() == 6" (tap)="iniciar()">Nível {{profile.nivel}}</button>
    </div>
</ion-content>