page-perfil-menu {
    .nivel {
        width: 17.9%;
    }
    .done {
        background-color: green;
    }
    .highlighted {
        box-shadow: 4px 4px 5px #888888;
    }
    #niveis {
        margin-top: 4vh;
    }
    #iniciar {
        margin-top: 20vh;
    }
}