page-perfil-menu {
    .nivel {
        width: 17.9%;
        background: linear-gradient(to right, #0071ad, #199fb8);
    }
    .highlighted {
        box-shadow: 5px 5px 6px #888888;
    }
    #niveis {
        margin-top: 4vh;
    }
    #consultorio {
        margin-top: 4vh;
    }
    #iniciar {
        margin-top: 4vh;
    }
    ion-img {
        contain: content;
        width: 100%;
        height: 100%;
        img {
            margin-left: auto;
            margin-right: auto;
        }
    }
}