page-pergunta {
    .title-ios {
        padding: 0 15vw;
    }
    pergunta, opcao {
        display: block;
    }
    pergunta {
        margin-bottom: 4vh;
    }
    opcao {
        margin: 2vh 0;
    }
    div, button {
        transition: 0.8s;
    }
    ion-img {
        background-color: white;
        width: 100%;
        height: 100%;
        contain: content;
        img {
            margin-left: auto;
            margin-right: auto;
        }
    }
}