<ion-header>
    <ion-navbar>
        <ion-title>
                {{(profile.nivel > 0 ? ('Nível ' + profile.nivel) : 'Nivelamento') + ' - Questão 0' + (profile.perguntasRespondidas + 1)}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngIf="questao" class="questao">
        <pergunta [pergunta]="questao"></pergunta>
        <opcao *ngFor="let opcao of questao.options" [opcao]="opcao" (selected)="newOption($event)" [class.selected]="opcao.id == opcaoSelecionada"></opcao>
    </div>
    <button class="large-button" [disabled]="!opcaoSelecionada || contador == 0" ion-button round block (tap)="confirmar()">Confirmar</button>
</ion-content>