page-pergunta {
    .title-ios {
        padding: 0 15vw;
    }
    .questao {
        margin-top: 14vw;
    }
    pergunta, opcao {
        display: block;
    }
    pergunta {
        margin-bottom: 4vh;
    }
    opcao {
        margin: 2vh 0;
    }
    div, button {
        transition: 0.8s;
    }
}