page-perfil-carregar {
    .button {
        background: none;
        ion-icon {
            padding-right: 10px;
        }
    }
    #excluir-perfil {
        border-color: #b66d6d;
        color: #e65b5b;
    }
    #carregar-perfil {
        border-color: green;
        color: green;
        float: right;
    }
    .selected {
        ion-card {
            border: 3px solid #199fb8;
        }
    }
}