page-perfil-carregar {
    .button {
        margin-top: 6vh;
        ion-icon {
            padding-right: 10px;
        }
    }
    #excluir-perfil {
        border-color: #b66d6d;
        color: #e65b5b;
    }
    #carregar-perfil {
        border-color: green;
        color: green;
        float: right;
    }
    .selected {
        ion-card {
            border: 2px solid #199fb8;
            box-shadow: 7px 7px 5px #888888;
        }
    }
}